{% extends 'psiuApp/base.html' %}
  
{% block content %} 
  {% include 'psiuApp/greeting_psiu.html ' %}
  <h4 class="text-center lh-sm">Deseja realmente excluir a atividade?</h4>
  <div class="container text-center">
    <form method="POST"> 
        {% csrf_token %} 
        <button> 
            <a href="{% url 'psiuApp:homepage' %}"  
            style="text-decoration: none; color: black;">Cancela</a> 
        </button> 
        <input type="submit" value="Remove"> 
    </form> 
  </div>
{% endblock %}