{% extends 'psiuApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %} 
  <br>
  <h4 class="text-center lh-sm">Atualização de Atividade</h4>
  <div class="container text-center">
    <form method="POST"> 
        {% csrf_token %}
        {{ atividade|crispy }} 
        <button> 
            <a href="{% url 'psiuApp:homepage' %}"  
            style="text-decoration: none; color: black;">Cancela</a> 
        </button> 
        <input type="submit" value="Atualiza"> 
    </form> 
  </div>
{% endblock %}