<a href="/"> 
    Home-Page 
  </a> | 
  <a href="{% url 'psiuApp:lista-atividades' %}"> 
    Listar contatos 
  </a> |
  <a href="{% url 'psiuApp:cria-atividade' %}"> 
    Cria atividade 
  </a> | </a> 
  {% if not user.is_authenticated %} 
    <a href="{% url 'psiuApp:registro' %}">Registrar</a> |
    <a href="{% url 'psiuApp:login' %}">Login</a> |
  {% else %}
    <a href="{% url 'psiuApp:logout_usuario' %}">Logout</a> |
    <a href="{% url 'psiuApp:password_change' %}">Trocar senha</a> |
    <a href="{% url 'psiuApp:completaDadosUsuario' pk=user.id %}">Terminar registro</a> |
  {% endif %}
    Você é {% firstof user.username "visitante" %} |
  <hr>